/* Reset e configurações básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    background-color: #fff;
    color: #006eff;
  }
  
  /* Alinhamento de texto */
  .text-center {
    text-align: center;
  }
  
  /* Título principal */
  .font-size-header {
    font-size: 3em;
  }
  
  .font-extra-bold {
    font-weight: 700;
  }
  
  
  /* Seção de aulas */
  #aulas-section {
    display: grid;
    grid-template-rows: 180px, 10fr;
    gap: 20px;
    padding: 40px;
  }
  
  /* Aula individual */
  .aula {
    background: #dce1ef;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .aula:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
  
  /* Imagem da aula */
  .aula-imagem {
    background-color: #e5e5e5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Texto da aula */
  .titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .aula-texto {
    font-size: 0.9em;
    line-height: 1.6;
  }
  