body {
    font-family: Arial, sans-serif;
    background: #f4f7fc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 15px;
}

.faq {
    margin-top: 20px;
}

.faq-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.faq-question {
    background-color: #2563eb;
    color: white;
    padding: 15px 20px 15px 40px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}

.faq-question::before {
    content: '+';
    position: absolute;
    left: 15px;
    font-size: 20px;
}

.faq-question.active::before {
    content: '-';
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: white;
    color: #333;
    padding: 0 20px;
    transition: max-height 0.4s ease, padding 0.3s ease;
}

/* Quando abrir */
.faq-answer.active {
    max-height: 600px; /* valor grande o suficiente */
    padding: 15px 20px;
}

.contact-box {
    margin-top: 40px;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
